<!DOCTYPE html>
<html lang="zxx">

<head>
	<title>Smart-AI-Attendance-System-With-AntiSpoofing</title>
	<meta charset="UTF-8">
	<meta name="description" content="Smart-AI-Attendance-System-With-AntiSpoofing">
	<meta name="keywords" content="face_recognition, html">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<!-- Stylesheets -->
	<link rel="stylesheet" href="{{ url_for('static',filename='css/bootstrap.min.css') }}">
	<link rel="stylesheet" href="{{ url_for('static',filename='css/font-awesome.min.css') }}">
	<link rel="stylesheet" href="{{ url_for('static',filename='css/elegant-icons.css') }}">
	<link rel="stylesheet" href="{{ url_for('static',filename='css/owl.carousel.min.css') }}">


	<!-- Main Stylesheets -->
	<link rel="stylesheet" href="{{ url_for('static',filename='css/style.css') }}">


</head>

<body>
	<!-- Page Preloder -->
	<div id="preloder">
		<div class="loader"></div>
	</div>


	<!-- Header section -->
	<header class="header-section">
		<a href="./index.html" class="site-logo">
			<img src="{{ url_for('static',filename='img/text-1652940998908.png')}}" alt="">
		</a>
	</header>
	<!-- Header section end -->


	<!-- Hero section -->
	<section class="hero-section">
		<div class="hero-slider owl-carousel">
			<div class="hero-item">
				<div class="hero-text">
					<div class="ht-cata">FACE RECOGNITION</div>
					<h3>Face Recognition Based Smart Attendance Tracker</h3>
					<p>Face Recognition Based Attendance Tracker is a smart Attendance tracker with anti-spoofing
						and email automation features. </p>
					<button class="button-79" role="button"> <a href="/my-link/">Let's Start</a></button>

				</div>
				<div class="hi-bg set-bg" data-setbg="{{ url_for('static',filename='img/cubacle_eye.gif')}}"></div>
			</div>
			<div class="hero-item">
				<div class="hero-text">
					<div class="ht-cata">FACE RECOGNITION</div>
					<h3>Face Recognition Based Smart Attendance Tracker</h3>
					<p>Face Recognition Based Attendance Tracker is a smart Attendance tracker with anti-spoofing
						and email automation features.</p>
					<button class="button-79" role="button"> <a href="/my-link/">Let's Start</a></button>

				</div>
				<div class="hi-bg set-bg" data-setbg="{{ url_for('static',filename='img/cubacle_eye.gif')}}"></div>
			</div>
			<div class="hero-item">
				<div class="hero-text">
					<div class="ht-cata">FACE RECOGNITION</div>
					<h3>Face Recognition Based Smart Attendance Tracker</h3>
					<p>Face Recognition Based Attendance Tracker is a smart Attendance tracker with anti-spoofing
						and email automation features.</p>
					<button class="button-79" role="button"> <a href="/my-link/">Let's Start</a></button>

				</div>
				<div class="hi-bg set-bg" data-setbg="{{ url_for('static',filename='img/cubacle_eye.gif')}}"></div>
			</div>
		</div>
	</section>
	<!-- Hero section end -->

	<!-- Footer section -->
	<footer class="footer-section">
		<div class="footer-social">
		</div>

		<!--====== Javascripts & Jquery ======-->
		<script src="{{ url_for('static',filename='js/vendor/jquery-3.2.1.min.js')}}"></script>
		<script src="{{ url_for('static',filename='js/bootstrap.min.js')}}"></script>
		<script src="{{ url_for('static',filename='js/owl.carousel.min.js')}}"></script>
		<script src="{{ url_for('static',filename='js/masonry.pkgd.min.js')}}"></script>
		<script src="{{ url_for('static',filename='js/main.js')}}"></script>

</body>

</html>
<!-- Face Recognition Based -->